snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet deadline
$1[38;5;196m	$2 [0m $0
endsnippet
snippet creative
$1[38;5;45m	$2 [0m $0
endsnippet
snippet study
$1[38;5;75m	$2 [0m $0
endsnippet
snippet sports
$1[38;5;28m	$2 [0m $0
endsnippet
snippet routine
$1[38;5;250m	$2 [0m $0
endsnippet
snippet lecture
$1[38;5;32m	$2 [0m $0
endsnippet
snippet travel
$1[38;5;11m	$2 [0m $0
endsnippet
snippet meeting
$1[38;5;34m	$2 [0m $0
endsnippet
snippet social
$1[38;5;56m	$2 [0m $0
endsnippet
snippet mental
$1[38;5;13m	$2 [0m $0
endsnippet
snippet health
$1[38;5;34m	$2 [0m $0
endsnippet

snippet gray
[38;5;250m$1[0m $0
endsnippet
snippet red
[31m$1[m$0
endsnippet
snippet green
[32m$1[m$0
endsnippet
snippet yellow
[33m$1[m$0
endsnippet
snippet blue
[34m$1[m$0
endsnippet
snippet teal
[38;5;28m$1[0m $0
endsnippet
snippet magenta
[35m$1[m$0
endsnippet
snippet cyan
[36m$1[m$0
endsnippet
snippet white
[37m$1[m$0
endsnippet
